<!-- tickets/strategy.html -->
{% extends 'base.html' %}

{% block content %}
<div class="container mt-5 text-center">

  <h2 style="color: var(--main-color); font-weight: bold;">哈哈分享我喜歡的歌啦～</h2>
  <p style="font-size: 1.2rem; margin-top: 10px;">
    沒錯，你被騙進來了！<br>
    本來以為是什麼購票攻略對吧？<br>
    結果我只是要跟你分享這首歌而已，嘻嘻
  </p>

  <div class="my-4">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/c10we7E-jdA?si=kaRyNKQ5KUvbmMMq" 
            title="YouTube video player" frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
    </iframe>
  </div>

  <p style="font-size: 1.1rem;">
    喜歡的話就加到歌單！ <br>
    還是你也有歌要騙我點進去聽？我是不會被騙的
  </p>

</div>
{% endblock %}
